{% extends "base.html" %}

{% block content %}
<h1><img src="{{image}}"> {{ title }}</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username_astro.label }}<br>
        {{ form.username_astro(class="form-control") }}<br>
        {% for error in form.username_astro.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password_astro.label }}<br>
        {{ form.password_astro(class="form-control", type="password") }}<br>
        {% for error in form.password_astro.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.username_captain.label }}<br>
        {{ form.username_captain(class="form-control") }}<br>
        {% for error in form.username_captain.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password_captain.label }}<br>
        {{ form.password_captain(class="form-control", type="password") }}<br>
        {% for error in form.password_captain.errors %}
        <div class="alert alert-danger" role="alert">
            { error }
        </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}